alembic
click
csh_ldap>=2.0.2
Flask
Flask-Migrate
Flask-pyoidc
Flask-Script
Flask-SQLAlchemy
gunicorn
itsdangerous
Jinja2
Mako
MarkupSafe
pip
PyMySQL
python-editor
setuptools
SQLAlchemy
Werkzeug
wheel
smtplib
os
