alembic
click
csh_ldap>=2.0.2
Flask
Flask-Mail==0.9.1
Flask-Migrate
Flask-pyoidc==1.3.0
Flask-Script
Flask-SQLAlchemy>=2.5.0
gunicorn
itsdangerous
Jinja2
Mako
MarkupSafe
pip
PyMySQL
python-editor
setuptools
SQLAlchemy
Werkzeug
wheel
