<!DOCTYPE html>

<html lang="en">
<head>
    <title>Quotefault</title>
    <meta name="theme-color" content="#B0197E">
    <link rel="manifest" href="/static/manifest.json">
    <link type="text/css" rel="stylesheet" href="../../static/css/cshbootstrap.css"/>
    <!-- overwrites some of cshcss with personal css file -->
    <link type="text/css" rel="stylesheet" href="../../static/css/quotefaultcss.css"/>
    <!-- necessary for bootstrap animations -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="contentContainer">
    <h1>
        Quotefault!
    </h1>

    <h5>
        <a href="/">Main</a>
        <a href="/storage">Quote Storage</a>
    </h5>
    <!-- collect submission info when form submit button clicked -->
    <form action="/settings" method="POST">
            <label for="template">Template</label>
            <select name="template" title="Template">
                <option value="flag">Flag</option>
                <option value="bootstrap">Bootstrap</option>
            </select>

        <br>
        <input type="submit"
               value="Save Changes">
    </form>
</div>

</body>
</html>
