<!DOCTYPE html>

<html lang="en">
<head>
    <title>Quotefault Storage</title>
    <meta name="theme-color" content="#B0197E">
    <link rel="manifest" href="/static/manifest.json">
    <link type="text/css" rel="stylesheet" href="../../static/css/cshbootstrap.css"/>
    <!-- overwrites some of cshcss with personal css file -->
    <link type="text/css" rel="stylesheet" href="../../static/css/quotefaultcss.css"/>
    <!-- necessary for bootstrap animations -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="contentContainer">
    <h1>
        Quote Storage
    </h1>

    <h5>
        <a href="/">Main</a>
        <a href="/settings">Settings</a>
    </h5>
    <!-- display stored quotes from the Quotefault db -->
    <ul style="list-style: none">
        {% for quote in newQuotes %}
            <li>{{ quote.quote }} - {{ quote.speaker }} Submitted by {{ quote.submitter }} on {{ quote.quoteTime.strftime('%Y-%m-%d %H:%M:%S') }}</li>
        {% endfor %}
    </ul>
    {% if oldQuotes|length > 0 %}
        <a href="#moreQuotes" data-toggle="collapse">But wait, there's more!</a>
        <div id="moreQuotes" class="collapse">
            <ul style="list-style: none">
                {% for quote in oldQuotes %}
                    <li>{{ quote.quote }} - {{ quote.speaker }} Submitted by {{ quote.submitter }} on {{ quote.quoteTime.strftime('%Y-%m-%d %H:%M:%S') }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
</body>
</html>