<!DOCTYPE html>

<html>
<head>
    <title>Quotefault Main</title>
    <link type="text/css" rel="stylesheet" href="../static/css/cshbootstrap.css" />
    <!-- overwrites some of cshcss with personal css file -->
    <link type="text/css" rel="stylesheet" href="../static/css/quotefaultcss.css" />
    <!-- necessary for bootstrap animations -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<!-- flash relevant message when submit button is clicked -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=alert, style="list-style: none">
        {% for category, message in messages %}
            <script>
                switch(category){
                    case warning:
                        category = warning
                    case error:
                        category = danger
                    case default:
                        category = success
                }
            </script>
            <li class="alert alert-{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<body>

<div class="contentContainer">
    <h1>
        Quotefault!
    </h1>

    <h5>
        <a href="/storage">Quote Storage</a>
    </h5>
    <!-- collect submission info when form submit button clicked -->
    <form action="/submit" method="POST">
        <input type="text"
                name="quoteString"
                placeholder="Quote">
        <input type="text"
                name="nameString"
                placeholder="Said by...">
        <input type="date"
                name="dateSaid"
               placeholder="Date Said">
        <br>
        <input type="submit"
                value="Submit">
    </form>
</div>

</body>
</html>
