<!DOCTYPE html>

<html>
<head>
    <title>Quotefault Storage</title>
    <link type="text/css" rel="stylesheet" href="../static/css/cshbootstrap.css" />
    <!-- overwrites some of cshcss with personal css file -->
    <link type="text/css" rel="stylesheet" href="../static/css/quotefaultcss.css" />
</head>

<body>
<div class="contentContainer">
    <h1>
        Quote Storage
    </h1>

    <h5>
        <a href="/">Main</a>
    </h5>
    <!-- display stored quote from the Quotefault db -->
    <ul style="list-style: none">
        {% for quote in quotes %}
            <li>{{ quote }}</li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
