<!DOCTYPE html>

<html>
<head>
    <title>Quotefault Main</title>
    <link type="text/css" rel="stylesheet" href="../static/css/quotefaultcss.css" />
</head>

<body>


<h1>
    Quotefault!
</h1>
    
<form action="/submit" method="POST">
    <input type="text"
            name="quoteString"
            placeholder="Quote">
    <input type="text"
            name="nameString"
            placeholder="Said by...">
    <br>
    <input type="submit"
            value="Submit">
</form>

</body>
</html>
