/* background/overall text alignment */
body{
	text-align: center;
	background-image: url("../images/CSHflag.png");
	background-size: cover;
	background-repeat: no-repeat;
	line-height: 200%;
	padding: 0px;
	margin: 0px;
}
/* wraps content on page */
.contentContainer{
    background-color: grey;
    max-width: 1000px;
    width: 60%;
    border: solid 3px black;
    color: #0F0F0F;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-bottom: 10px;
}
/* fixes odd issue where regular padding was pushing the list to the left, also break long words */
.contentContainer ul{
    padding: 10px;
    word-wrap: break-word;
}
.contentContainer h1{
    color: #000000;
}
.contentContainer a{
    color: #0F0F0F;
    text-decoration: underline;
}
.contentContainer a:hover{
    color: #d1d6d6;
}
/* Custom message flashing properties */
.flashes{
    list-style-type: none;
    height: 20px;
    background-color: green;
}

.flashes .error{
    background-color: red;
}

.flashes .warning{
    background-color: yellow;
}